<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Display Activity Page</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <a class="navbar-brand" th:href="@{/user/dashboard}"><h2 class="brand">Fitness Portal App</h2></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" th:href="@{/profile/saveProfile}">Add Profile</a>
          <a class="dropdown-item" th:href="@{/profile/updateProfile}">Update Profile</a>
          <a class="dropdown-item" th:href="@{/profile/displayProfile}">Display Profile</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/activity/saveActivity}">Add Activity</a>
      </li>
    </ul>
      	<div align="right">
			<a class="navbar-brand" th:href="@{/user/logout}">Logout</a>
		</div>
  </div>
</nav>
<br>
<form action="#" th:action="@{/activity/deleteActivity}" method="post">
<h1 style="text-align:center">Activity Details : </h1>
	<div class="container" align="center">
		<p th:if="${error}" class="error">Activity Not Found.</p>
		<table border="1" cellpadding="10">
			<thead>
				<tr> 
					<th>Title</th>
					<th>Activity Type</th>
					<th>Distance(in Km)</th>
					<th>Duration(in hr.)</th>
					<th>Energy Expended(in calorie)</th>
					<th>Date</th>
					<th>Update</th>
					<th><input type="submit" class="btn btn-primary" value="Delete" onclick="return confirm('Are you sure?')" /></th>

				</tr>
			</thead>
			<tbody>
			 <tr th:each="details : ${activityDetails}">
					<td th:text="${details.title}">Title</td>
					<td th:text="${details.activityType}">Activity Type</td>
					<td th:text="${details.distance}">Distance(in Km)</td>
					<td th:text="${details.durationHr}">Duration(in hr.)</td>
					<td th:text="${details.energyExpended}">Energy Expended(in calorie)</td>
					 <td th:text="${details.activityDate}">Date</td>
					 <td> <a th:href="@{/activity/updateActivity(activityId=${details.activityId})}" 
					 	class="btn btn-primary">Update</a>
				     </td>
					 <td> <input type="checkbox" class="checkBoxId" th:value="${details.activityId}" name="activId" />
					 </td>
			</tr> 
			</tbody>
		</table>
		
		<br/>
		<br/>
	 </div>
 </form>
 <div align="center">
 		 <a th:href="@{/user/back}"><button class="btn btn-primary col-2">Back</button></a>
 </div>
 
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	
</body>
</html>