<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<title>Register Page</title>

<style>

span,p,.error{
color : red;
}
div.form-row {
  padding: 5px 50px;
}
.myFooter{
	background-color : blue;
	color : white;
}

</style>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
	 <a class="navbar-brand" th:href="@{/}"><h2>Fitness Portal App</h2></a>
	 <div class="collapse navbar-collapse" id="navbarSupportedContent">
	  <ul class="navbar-nav mr-auto">
   </ul>
	 <div class="navbar-brand" align="right">
			<a class="navbar-brand" th:href="@{/user/login}">Log In</a>
	</div>
	</div>
</nav>
<br>

<div class="form-group" align="center">
                    <h2>Register as User</h2>
                </div>
                <div class="mb-3">
<form action="#" th:action="@{/user/saveUser}" th:object="${user}"
			method="post">
			<p th:if="${error}" class="error">500 Internel Server Error. Please register again.</p>
<h4 style="padding : 1px 50px">Registration Details</h4><hr><br>
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" id="firstName" name="firstName"  placeholder="Enter First Name" autoComplete="off" required>
    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
  </div>
  <div class="form-group col-md-6">
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control" id="lastName" name="lastName"  placeholder="Enter Last Name" autoComplete="off" required>
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span> 
  </div>
  </div>
  <div class="form-row">
  <div class="form-group col-md-6">
    <label for="emailId">Email Id</label>
    <input type="email" class="form-control" id="emailId" name="emailId"  placeholder="Email Id" autoComplete="off" required>
    <span th:if="${#fields.hasErrors('emailId')}" th:errors="*{emailId}"></span>
	<p th:if="${emailAlreadyUsed}" class="error">Email Id is already present.</p>
  </div>
  <div class="form-group col-md-6">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password"  placeholder="Password" autoComplete="off" required>
     <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
	<p th:if="${invalidPassword}" class="error">Password shouldhave atleast one uppercase 
	character, atleast one lowercase character, atleast one special character and atleast 
	one digit and number of minimum characters must be 8.</p>
  </div>
  </div>
  <div class="row justify-content-center mt-4">
       <div class="col-4">
       
              <button type="submit" id="submit" name="submit" class="btn btn-block btn-primary">Register</button>
        </div>
   </div>
  
</form>
</div>
<br>
 <div align="center" style="color : white;background-color:black" >
 <footer>
 <br>
   @Copyright  2021 - All Right Reserved.
</footer>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>
</html>